.schedule {
  margin-bottom: 50px;
  padding-bottom: 40px;
  background-color: #f4f4f4;

  &__title {
    margin: 0;
    padding-top: 30px;
    color: $grey-text;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 10px 13px;
    width: 280px;
    text-align: center;
    background: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);

    &--last {
      opacity: 0.2;
      margin-bottom: 40px;
    }
  }

  &__time {
    position: relative;
    color: $bg-date;

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 50px;
      width: 24px;
      height: 24px;
      background-image: url("../../../img/medical-sprite.png");
      background-position: -290px -160px;
    }
  }

  &__name {
    color: $active-color;
  }

  &__descr {
    color: $grey-text;
    padding: 0 5px;
  }

  &__img {
    margin: 0 auto 5px;
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 55px;
    margin-bottom: 45px;
    width: 340px;
    margin-left: 15px;
    text-decoration: none;
    color: $white;
    background: $active-color;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 25px;
      width: 18px;
      height: 18px;
      background-image: url("../../../img/medical-sprite.png");
      background-position: -116px -10px;
    }
  }
}
@media (min-width: 768px) {
  .schedule {
    &__item {
      flex-direction: row;
      width: 700px;
      padding: 20px 0;
      margin: 10px auto;
    }
    &__title {
      text-align: left;
      margin-left: 25px;
    }
    &__inner-wrapp {
      display: flex;
      flex-direction: column;
    }

    &__time {
      width: 130px;
      margin-left: 45px;
      top: 5px;

      &::before {
        left: -20px;
        top: -5px;
      }

      &::after {
        position: absolute;
        content: "";
        top: -15px;
        right: 5px;
        height: 60px;
        width: 2px;
        background: #d6dce1;
      }
    }

    &__name {
      text-align: left;
    }

    &__descr {
      width: 400px;
      text-align: left;
    }

    &__link {
      position: relative;
      width: 280px;
      display: block;
      margin: 0 auto;
      padding-right: 0;
    }
  }
}
