@import "global/mixin.scss";
@import "global/varible.scss";
@import "global/normalize.scss";
@import "global/global.scss";
@import "global/fonts.scss";
@import "blocks/slick/slick.scss";
@import "blocks/slick/slick-theme.scss";
@import "blocks/header/header.scss";
@import "blocks/toggle/toggle.scss";
@import "blocks/logo/logo.scss";
@import "blocks/btn-user/btn-user.scss";
@import "blocks/navigation/navigation.scss";
@import "blocks/promo/promo.scss";
@import "blocks/slider/slider.scss";
@import "blocks/btn-slider/btn-slider.scss";
@import "blocks/btn-add-programm/btn-add-programm.scss";
@import "blocks/education-program/education-program.scss";
@import "blocks/programm/programm.scss";
@import "blocks/programm-btn/programm-btn.scss";
@import "./blocks/teacher/teacher.scss";
@import "./blocks/speaker/speaker.scss";
@import "./blocks/documents/documents.scss";
@import "./blocks/schedule/schedule.scss";
@import "./blocks/submit-form/submit-form.scss";
@import "./blocks/description/description.scss";
@import "./blocks/disciplines/disciplines.scss";
@import "./blocks/partners/partners.scss";
@import "blocks/pulpit/pulpit.scss";
@import "blocks/conference/conference.scss";
@import "blocks/footer-main/footer-main.scss";
@import "blocks/footer-logo/footer-logo.scss";
@import "blocks/about/about.scss";
@import "blocks/copyrigth/copyrigth.scss";
