$grey-text: #585868;
$active-color: #f82649;
$actvie-hover: #e82445;
$bg-date: #4f87fb;
$white: #ffffff;
$bg-header: #eeeeee;
$input-color-placeholder: #d2d2d2;
$border-tab: #dbdbdb;
$slider-arrow: #cbcbcb;
$bg-tab: #ebebeb;
