.partners {
  background-color: #f4f4f4;
  padding-bottom: 20px;

  &__title {
    margin: 0;
    padding-top: 30px;
    color: $grey-text;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  &__descr {
    padding-top: 10px;
    color: #585868;
  }
  &__img {
    width: 240px;
  }
  &__slider {
    width: 240px;
    margin: 0 auto;
  }
  &__slider-img {
    margin: 10px 0;

    &--width {
      width: 240px;
    }
  }
}

@media (min-width: 768px) {
  .partners {

    &__title {
      font-size: 24px;
      text-align: left;
      margin-left: 40px;
    }
    &__inner-wrapp {
      display: flex;
      justify-content: space-around;
    }
    &__img {
      &--md-width {
        width: 350px;
        padding-top: 40px;
      }
    }
    &__slider {
      display: flex;
      flex-wrap: wrap;
      width: 600px;
    }
    &__slider-img {
      margin: 10px 20px;
    }
  }
}
