.btn-user {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: 44px;
  padding: 20px 30px;
  background: $active-color;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: none;
  span {
    display: none;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 21px;
    height: 21px;
    left: 20px;
    top: 11px;
    background-image: url('../../../img/accaunt-icon.png');
    background-repeat: no-repeat;
  }
  &:hover {
    background: $actvie-hover;
  }
  &:active {
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
}


@media (min-width: 1140px) {
  .btn-user {
    display: initial;
    padding: 10px 20px 9px 52px;
    span {
      display: inline;
    }
  }
}
