.promo {
  position: relative;
  &__number {
    position: absolute;
    bottom: 55px;
    left: 50%;
    color: $grey-text;
    font-size: 30px;
    &--active {
      color: $active-color;
      }
  }
  &__prev-arrow {
    top: 88%;
    right: 450px;
  }
  &__next-arrow {
    top: 88%;
    right: 390px;
  }
}
