.pulpit {
  padding-top: 40px;
  background-image: url('../../../img/index-content-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: $active-color;
  }
  &__text {
    text-align: center;
    font-size: 20px;
    color: $grey-text;
    margin-bottom: 60px;
  }
  &__count {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    display: flex;
    flex-direction: column;
    opacity: 0.85;
    background: $bg-description-pulpit;
    p {
      text-align: justify;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      color: $grey-text;
    }
  }
}

.count {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    margin-bottom: 40px;
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 74px;
      height: 74px;
      top: 0;
      right: 0;
    }
    &--programm {
      &::after {
        background-image: url('../../../img/medical-sprite.png');
        background-position: -255px -10px;
      }
    }
    &--students {
      &::after {
        background-image: url('../../../img/medical-sprite.png');
        background-position: -106px -90px;
      }
    }
    &--professor {
      &::after {
        background-image: url('../../../img/medical-sprite.png');
        background-position: -10px -176px;
      }
    }
    &--qualifications {
      &::after {
        background-image: url('../../../img/medical-sprite.png');
        background-position: -10px -90px;
      }
    }
  }
  &__num {
    p {
      margin: 0;
      font-size: 60px;
      font-weight: 500;
      color: $bg-date;
    }
  }
  &__text {
    display: flex;
    p {
      align-self: flex-end;
      margin: 0;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 700;
      color: $bg-date;
      text-transform: uppercase;
    }
  }
}


@media (min-width: 768px) {
  .pulpit {
    &__title {
      font-size: 35px;
    }
    &__count {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    &__wrapper {

    }
  }
}

@media (min-width: 1140px) {
  .pulpit {
    background-position: top;
    &__title {
      text-align: left;
      font-size: 46px;
      line-height: 50px;
      font-weight: 500;
      color: $active-color;
    }
    &__text {
      text-align: left;
      width: 550px;
      font-size: 30px;
      font-weight: 500;
      color: $grey-text;
    }
    &__count {
      width: 700px;
    }
    &__description {
      flex-direction: row;
      justify-content: center;
      p {
        margin: 0;
        margin: 52px 0px;
        text-align: left;
        width: 525px;
        margin-left: 70px;
      }
    }
  }
}
