.btn-slider {
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 45px;
  width: 260px;
  color: $white;
  background: $active-color;
  border-radius: 5px;

  &--inner {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 0;
    width: 200px;
    outline: none;
  }
}
