
  .toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;

    display: block;
    width: 25px;
    height: 25px;

    font-size: 0;
    background: $bg-header;
    cursor: pointer;
    border: none;
    outline: none;
/*
    &:hover {
      background-color: #000;
    }

    &:active {
      background-color: #000;
    }
*/
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0px;

      width: 25px;
      height: 4px;

      background-color: $grey-text;
      box-shadow: 0 8px 0 0 $grey-text, 0 16px 0 0 $grey-text;
    }
  }
  .toggle.toggle--opened {
    top: 10px;
    right: 20px;

    background-color: transparent;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -3px;

      width: 32px;
      height: 5px;

      background-color: rgba(255, 255, 255, 10);
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before, &:active::after {
      background-color: rgba(255, 255, 255, 10);
    }
  }

  @media (min-width: 760px) {
    .toggle {
      top: 25px;
    }
    .toggle.toggle--opened {
      top: 25px;
      right: 37px;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -3px;

        width: 32px;
        height: 5px;

        background-color: rgba(255, 255, 255, 10);
      }
  }
}

@media (min-width: 1140px) {
  .toggle {
    display: none;
  }
}
